<div id="<%= dom_id partner %>">
  <p>
    <strong>Name:</strong>
    <%= partner.name %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= partner.picture %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= partner.description %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= partner.slug %>
  </p>

</div>
