
<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-file"></i>
        <span class="nav-main-link-name">Facturação</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-file"></i>
        <span class="nav-main-link-name">Cobranças</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-users"></i>
        <span class="nav-main-link-name">Gestão Clientes</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-folder"></i>
        <span class="nav-main-link-name">Reporting & BI</span>
    <% end %>
</li>

<li class="nav-main-heading">Configurações</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-shopping-basket"></i>
        <span class="nav-main-link-name">Produtos/Artigos</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-shopping-basket"></i>
        <span class="nav-main-link-name">Gestão de Stock</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-users"></i>
        <span class="nav-main-link-name">Fornecedores</span>
    <% end %>
</li>


<li class="nav-main-item">
    <%= link_to "#", class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-cog"></i>
        <span class="nav-main-link-name">Empresa</span>
    <% end %>
</li>
