
<li class="nav-main-item">
    <%= link_to members_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-users"></i>
        <span class="nav-main-link-name">Gestão de Membros</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to packs_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-folder"></i>
        <span class="nav-main-link-name">Gestão de Pacotes</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to boards_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-folder"></i>
        <span class="nav-main-link-name">Membros Board</span>
    <% end %>
</li>

<li class="nav-main-item">
    <%= link_to contact_forms_path, class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-folder"></i>
        <span class="nav-main-link-name">Pedidos de Contactos</span>
    <% end %>
</li>

<li class="nav-main-heading">Outras</li>

<li class="nav-main-item">
    <%= link_to setting_path(setting), class: "nav-main-link" do %>
        <i class="nav-main-link-icon fas fa-cog"></i>
        <span class="nav-main-link-name">Configurações</span>
    <% end %>
</li>
