<div class="content content-boxed">
    <div class="block">
        <div class="block-content">
            <div class="row">
                <div class="col-md-12">
                    <%= simple_form_for(@setting) do |f| %>
                        <%= f.error_notification %>
                        <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

                        <div class="row">
                            <div class="col-md-6">
                                <%= f.input :name, label: 'Nome da empresa' %>
                                <%= f.input :email, label: 'E-mail' %>
                                <%= f.input :cell_phone1, label: 'Número de telefone 1' %>
                                <%= f.input :cell_phone2, label: 'Número de telefone 2' %>
                                <%= f.input :agreements, label: 'Quantidade de Contratos' %>
                                <%= f.input :about_us, label: 'Sobre nós' %>
                            </div>

                            <div class="col-md-6">
                                <%= f.input :street, label: 'Rua' %>
                                <%= f.input :address, label: 'Endereço' %>
                                <%= f.input :mission, label: 'Nossa Missão' %>
                                <%= f.input :vision, label: 'Nossa Visão' %>
                                <%= f.input :values, label: 'Nossos Valores' %>
                            </div>
                        </div>

                        <hr />

                        <div class="form-actions text-right">
                            <%= f.button :submit, "#{@setting.id.present? ? 'Actualizar' : 'Registar'}", class: "btn btn-success btn-sm" %>
                            <%= link_to 'Cancelar', back_url, class: 'btn btn-sm btn-danger' %>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
