<div id="<%= dom_id setting %>">
  <p>
    <strong>Name:</strong>
    <%= setting.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= setting.street %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= setting.address %>
  </p>

  <p>
    <strong>Cell phone1:</strong>
    <%= setting.cell_phone1 %>
  </p>

  <p>
    <strong>Cell phone2:</strong>
    <%= setting.cell_phone2 %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= setting.email %>
  </p>

  <p>
    <strong>Mission:</strong>
    <%= setting.mission %>
  </p>

  <p>
    <strong>Vision:</strong>
    <%= setting.vision %>
  </p>

  <p>
    <strong>Values:</strong>
    <%= setting.values %>
  </p>

  <p>
    <strong>About us:</strong>
    <%= setting.about_us %>
  </p>

  <p>
    <strong>Slug:</strong>
    <%= setting.slug %>
  </p>

</div>
