<div id="<%= dom_id board %>">
  <p>
    <strong>Name:</strong>
    <%= board.name %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= board.picture %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= board.position %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= board.order %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= board.status %>
  </p>

</div>
