
<%= render 'layouts/partials/header/header_board' %>

<main>

    <section class="services-content-block">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Fernando do Carmo Jeremias</h4>
                        <p>Presidente do Conselho de Administração</p>

                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>
            </div>
            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Lifa Yamille Yamille Januário </h4>
                        <p>Administradora da Área de Administração</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Eufrásio Capenda João Antónioo</h4>
                        <p>Administrador da Área de Administração e Finanças</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>
            </div>

            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Svetlana Da Costa</h4>
                        <p>Área de Comunicação e Marketing</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                        
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Lucineide Pacheco</h4>
                        <p>Área de Comunicação e Marketing</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                        
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Teresa J. Jeremias </h4>
                        <p>Área Jurídica</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Victoria Marly da Costa </h4>
                        <p>Área Jurídica</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>
            </div>

            <br>

            <div class="row justify-content-md-center">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Filipe Jeremias</h4>
                        <p>Área de Operações</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                        
                    </div>
                </div>

                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Irlando Cristovão</h4>
                        <p>Área de Operações</p>
                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>
            </div>
            <br>
            <div class="row justify-content-md-center">
                <div class="col-md-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="content-box p-3">
                        <figure>
                            <img src="/images/site/icons/profile.png" alt="Image">
                        </figure>
                        <h4>Milton da Costa </h4>
                        <p>Vice Presidente do Conselho de Administração</p>

                        <%= link_to "#", target: "_blank" do %>
                            <%= image_tag '/images/networks/linkedin.png', class: 'profile-board' %>
                        <% end %>
                    </div>
                </div>
            </div>

        </div>
    </section>



    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 
<script src="/templete-site/js/scripts.js"></script>
