


<div class="page-right-content">
    <div class="slider slider-home1">
        <div class="js-slider-home1">
            <img src="/templete-site/img/slider_1_1.jpg" alt="">
            <img src="/templete-site/img/slider_1_2.jpg" alt="">
            <img src="/templete-site/img/slider_1_3.jpg" alt="">
        </div>
        <div class="btn-slider">
            <a href="#" class="btn-arrow top-arrow"></a>
            <a href="#" class="btn-arrow bottom-arrow"></a>
        </div>
    </div>
</div>

<div class="video">
    <a data-fancybox href="https://vimeo.com/242347548" class="hover-images image-video">
        <img src="/templete-site/img/video.jpg" alt="" class="img-responsive">
    </a>
    <div class="video-title">
        <h3>Ontem Sonho <br> Hoje Realidade</h3>
    </div>
</div>

<div class="new-collection">
    <div class="container">
        <h3 class="vow-title">Coleção Loja de Noivas</h3>
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collection.png", class: "img-reponsive img-thumbnail") %>
                </a>
                <h3 class="h-colect-title">Destaque 1</h3>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collection.png", class: "img-reponsive img-thumbnail") %>
                </a>
                <h3 class="h-colect-title">Destaque 2</h3>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collection.png", class: "img-reponsive img-thumbnail") %>
                </a>
                <h3 class="h-colect-title">Destaque 3</h3>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3 c-item">
                <a href="#" class="hover-images">
                    <%= image_tag("site/collection.png", class: "img-reponsive img-thumbnail") %>
                </a>
                <h3 class="h-colect-title">Destaque 4</h3>
            </div>
        </div>
    </div>
</div>

<div class="vow-info">
    <div class="quote text-center">
        <p>Lorem ipsum is placeholder text, <span class="vow-color">Texto de destaque aqui</span>. Lorem ipsum is placeholder text!</p>
    </div>
    <div class="text-center" style="background:url(/templete-site/img/ribbon_bg.png) no-repeat top center;background-size: contain">
        <div class="vow-img">
            <a href="#" class="hover-images">
                <%= image_tag("site/planner.png", class: "img-reponsive img-thumbnail") %>
            </a>
        </div>
        <div class="vow-desc">
            <h3 class="h-colect-title v2">Wedding planer</h3>
            <p class="v-desc">Lorem Ipsum is not simply random text, Lorem Ipsum is not simply random text. Lorem Ipsum is not simply random text, Lorem Ipsum is not simply random text, Lorem Ipsum is not simply random text</p>
            <p class="author">Do seu sonho para o Mundo</p>
        </div>
    </div>
</div>

<div class="featured-product">
    <div class="container">
        <h3 class="vow-title">O que temos para si</h3>
        <div class="row">

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/service.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">Loja de noiva</a></h3>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/decoracao.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">Decoração e Buffet</a></h3>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/decoracao.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">Salão de Eventos</a></h3>
                </div>
            </div>

            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="product-img v2">
                    <a class="hover-images" href="#">
                        <%= image_tag("site/service.png", class: "img-reponsive img-thumbnail") %>
                    </a>
                </div>
                <div class="product-info v2">
                    <h3 class="product-title"><a href="#">Centro Comercial</a></h3>
                </div>
            </div>

        </div>
    </div>
    <div class="fea-button text-center">
        <a href="#" class="btn-viewshop">Fale connsoco</a>
    </div>
</div>

<div class="banner v2">
    <div class="container">
        <a href="#" class="effect_img2"><img src="/templete-site/img/home1_banner.jpg" alt="" class="img-responsive"></a>
    </div>
</div>

<div class="blog">
    <div class="container">
        <h3 class="vow-title v5">Quem acreditou</h3>
        <div class="row row-flex">
            <div class="col-xs-12 col-sm-4 col-md-4 blog-item">
                <div class="post-info">
                    <h3 class="post-title"><a href="#">Melhor serviço que conheci</a></h3>
                    <div class="post-desc">Aenean imperdiet. Etiam ultricies nisi vel augueNam eget dui</div>
                    <a href="#" class="btn-find">ATNTÓNIA JEREMIAS »</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 blog-item">
                <div class="post-info">
                    <h3 class="post-title"><a href="#">Outro Destaque</a></h3>
                    <div class="post-desc">Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi Nam eget dui. Etiam </div>
                    <a href="#" class="btn-find">FERNANDO JEREMIAS »</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 blog-item">
                <a href="#" class="hover-images"><img src="/templete-site/img/home1_blog.jpg" alt="" class="img-responsive"></a>
            </div>
        </div>
    </div>
</div>






