
<%= render 'layouts/partials/header/header_detail_member', member: @member %>

<main>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-12 wow fadeIn">
                    <div class="title">
                        <h3><%= @member.company_name %></h3>
                    </div>
                    <!--end title --> 
                </div>

                <!-- end col-12 -->
                <div class="col-md-6 wow fadeIn">
                    <div class="contact-box">
                        <h6>NIF da Empresa</h6>
                        <p><%= @member.company_nif %></p>
                    </div>

                    <div class="contact-box">
                        <h6>Endereço</h6>
                        <p><%= @member.company_address %></p>
                    </div>

                    <div class="contact-box">
                        <h6>Área de Ocupação</h6>
                        <p><%= @member.company_area %></p>
                    </div>
                    <!--end contact-box -->
                </div>
                <!-- end col-6 -->
                <div class="col-md-6 wow fadeIn" data-wow-delay="0.1s">
                    <% if @member.facebook_link.present? %>
                        <a href="<%= @member.facebook_link %>" target="_blank"><%= image_tag '/images/networks/facebook.png', width: '50' %></a>
                    <% end %>

                    <% if @member.instagram_link.present? %>
                        <a href="<%= @member.instagram_link %>" target="_blank"><%= image_tag '/images/networks/instagram.png', width: '50' %></a>
                    <% end %>

                    <% if @member.linkedin_link.present? %>
                        <a href="<%= @member.linkedin_link %>" target="_blank"><%= image_tag '/images/networks/linkedin.png', width: '50' %></a>
                    <% end %>


                    <% if @member.company_logo.attached? %>
                        <%= image_tag(@member.company_logo, class: "img-fluid") %>                                  
                    <% end %>
                </div>

                <!-- end col-12 -->
                <div class="col-md-12 wow fadeIn">
                    <hr>
                    <div class="title">
                        <h6>Detalhes</h6>
                        <p><%= @member.description %></p>
                    </div>
                    <!--end title -->
                </div>
            </div>
            <!-- end row --> 
        </div>
        <!-- end container --> 
    </section>
    <!-- end contact -->

    <%= render 'layouts/partials/footer' %>
    <!-- end sub-footer --> 
</main>
<!-- end main -->

<!-- JS FILES --> 
<script src="/templete-site/js/jquery.min.js"></script>
<script src="/templete-site/js/bootstrap.min.js"></script> 
<script src="/templete-site/js/swiper.min.js"></script> 
<script src="/templete-site/js/jquery.stellar.js"></script> 
<script src="/templete-site/js/isotope.min.js"></script> 
<script src="/templete-site/js/imagesloaded.pkgd.min.js"></script> 
<script src="/templete-site/js/jquery.typewriter.js"></script> 
<script src="/templete-site/js/odometer.min.js"></script> 
<script src="/templete-site/js/fancybox.min.js"></script> 
<script src="/templete-site/js/wow.min.js"></script> 
<script src="/templete-site/js/jquery.form.min.js"></script> 
<script src="/templete-site/js/jquery.validate.min.js"></script> 
<script src="/templete-site/js/contact.form.min.js"></script> 

<script src="/templete-site/js/scripts.js"></script>
