<!-- end preloader -->
<div class="navigation-menu">
    <div class="nav-bg"></div>
    <!-- end nav-bg -->
    <div class="nav-bg2"></div>
    <!-- end nav-bg2 -->
    <div class="inner">
        <ul>
            <li><a href="<%= root_path %>">INÍCIO</a></li>
            <li><a href="<%= about_path %>">QUEM SOMOS</a></li>
            <li><a href="<%= pca_message_path %>">MENSAGEM do PCA</a></li>
            <li><a href="<%= board_directors_path %>">CONSELHO de ADMINISTRAÇÃO</a></li>
            <li><a href="<%= products_path %>">PRODUTOS</a></li>
            <li><a href="<%= members_path %>">MEMBROS</a></li>
            <li><a href="<%= contact_path %>">CONTACTO</a></li>
        </ul>
    </div>
    <!-- end inner -->
</div>
<!-- end navigation-menu -->
<div class="transition-overlay">
    <div class="layer"></div>
    <!-- end layer -->
</div>
<!-- end transition-overlay -->
<nav class="navbar">
    <div class="logo"> <a href="<%= root_path %>"><img src="/logo2.png"></a> </div>
    <!-- end logo -->
    <div class="sandwich-nav">
        <div class="sandwich-text"><b>MENU<br>
            FECHAR</b> 
        </div>
        <!-- end sandwich-text -->
        <div class="sandwich-btn" id="sandwich-btn"> <span></span> <span></span> </div>
        <!-- end sandwich-btn -->
    </div>
    <!-- end sandwich-nav -->
</nav>
<!-- end navbar -->
<header class="header">
    <aside class="soundbar">
        <div class="sound">
            <div class="sound-title"> SOUND </div>
            <!-- end sound-title -->
            <div class="equalizer">
                <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
                <!-- end holder -->
            </div>
            <!-- end equalizer -->
            <div class="sound-text"> <b>OFF<br>
                ON</b> 
            </div>
            <!-- end sound-text -->
        </div>
        <!-- end sound -->
    </aside>
    <!-- end soundbar -->
    <ul class="social-media">
        <li><a href="https://web.facebook.com/profile.php?id=61550645407414" target="_blank"><%= image_tag '/images/networks/facebook.png', width: '30' %></a></li>
        <li><a href="https://www.instagram.com/grupo_jk_comercial/" target="_blank"><%= image_tag '/images/networks/instagram.png', width: '30' %></a></li>
        <li><a href="https://www.linkedin.com/in/grupo-jk-01002629b/" target="_blank"><%= image_tag '/images/networks/linkedin.png', width: '30' %></a></li>
        <li><a href="https://www.youtube.com/channel/UCEgImum8SuwxmOC_d1_qJ9Q" target="_blank"><%= image_tag '/images/networks/youtube.png', width: '30' %></a></li>
        <li><a href="#" target="_blank"><%= image_tag '/images/networks/twitter.png', width: '30' %></a></li>
        <li><a href="#" target="_blank"><%= image_tag '/images/networks/tiktok.png', width: '30' %></a></li>
    </ul>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slide-inner bg-image" data-background="/images/site/slides/slide1.png">
                    <div class="container">
                        <h2 data-swiper-parallax="-300">Inovando Por Você</h2>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
            <div class="swiper-slide">
                <div class="slide-inner bg-image" data-background="/images/site/slides/slide2.png">
                    <div class="container">
                        <h2 data-swiper-parallax="-300">Novas Conexões</h2>
                        <a href="videos/video.mp4" data-swiper-parallax="-100" class="btn-play" data-fancybox><img
                            src="/templete-site/images/icon-play.svg" alt="Image"></a>
                    </div>
                    <!-- end container -->
                </div>
                <!-- end slide-inner -->
            </div>
            <!-- end swiper-slide -->
        </div>
        <!-- end swiper-wrapper -->
        <div class="swiper-pagination"></div>
        <!-- end swiper-pagination -->
        <div class="swiper-button-next"><span data-hover="NEXT">NEXT</span></div>
        <!-- end swiper-button-next -->
        <div class="swiper-button-prev"><span data-hover="PREV">PREV</span></div>
        <!-- end swiper-button-prev -->
    </div>
    <!-- end swiper-container -->
</header>
<!-- end header -->