<div id="<%= dom_id contact_form %>">
  <p>
    <strong>Name:</strong>
    <%= contact_form.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= contact_form.email %>
  </p>

  <p>
    <strong>Subject:</strong>
    <%= contact_form.subject %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= contact_form.description %>
  </p>

</div>
