<footer class="footer">
    <div class="container">
        <div class="content-box wow fadeIn" data-wow-delay="0s">
            <h2>ENDEREÇO</h2>
            <p>Bairro Nova vida , distrito urbano do Talatona,Rua da Agomart Talatona, Edifício Sempre Chique casa S/N<br>Luanda - Angola </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn" data-wow-delay="0.1s">
            <h2>FALE CONNOSCO</h2>
            <p>+244 923 000 909<br>
                geral@jk-grupo.com
            </p>
        </div>
        <!-- end content-box -->
        <div class="content-box wow fadeIn" data-wow-delay="0.2s">
            <p>
                <%= link_to 'ADERIR AO GRUPO', root_path, class: "btn btn-aderir" %>
            </p>
        </div>
        <!-- end content-box -->
    </div>
    <!-- end container -->
</footer>
<!-- end footer -->
<footer class="sub-footer">
    <div class="container wow fadeIn">
        <small>Todos os Direitos Reservados 2022 - <%= Time.now.strftime('%Y') %> © Grupo JK Comercial</small>
        <ul>
            <li><a href="https://web.facebook.com/profile.php?id=61550645407414" target="_blank"><%= image_tag '/images/networks/facebook.png', width: '50' %></a></li>
            <li><a href="https://www.instagram.com/grupo_jk_comercial/" target="_blank"><%= image_tag '/images/networks/instagram.png', width: '50' %></a></li>
            <li><a href="https://www.linkedin.com/in/grupo-jk-01002629b/" target="_blank"><%= image_tag '/images/networks/linkedin.png', width: '50' %></a></li>
            <li><a href="https://www.youtube.com/channel/UCEgImum8SuwxmOC_d1_qJ9Q" target="_blank"><%= image_tag '/images/networks/youtube.png', width: '50' %></a></li>
            <li><a href="#" target="_blank"><%= image_tag '/images/networks/twitter.png', width: '50' %></a></li>
            <li><a href="#" target="_blank"><%= image_tag '/images/networks/tiktok.png', width: '50' %></a></li>
        </ul>
    </div>
    <!-- end container -->
</footer>
<!-- end sub-footer -->
