<!-- end preloader -->
<div class="navigation-menu">
    <div class="nav-bg"></div>
    <!-- end nav-bg -->
    <div class="nav-bg2"></div>
    <!-- end nav-bg2 -->
    <div class="inner">
        <address>
            <span>ENDEREÇO</span>
            <p>AV. 21 De Janeiro, Cassequel do Lourenço<br>
                Edifício Procenter<br>
                Luanda - Angola 
            </p>
        </address>
        <ul>
            <li><a href="<%= root_path %>">INÍCIO</a></li>
            <li><a href="<%= about_path %>">QUEM SOMOS</a></li>
            <li><a href="<%= pca_message_path %>">MENSAGEM do PCA</a></li>
            <li><a href="<%= board_directors_path %>">CONSELHO de ADMINISTRAÇÃO</a></li>
            <li><a href="<%= products_path %>">PRODUTOS</a></li>
            <li><a href="<%= members_path %>">MEMBROS</a></li>
            <li><a href="<%= contact_path %>">CONTACTO</a></li>
        </ul>
    </div>
    <!-- end inner -->
</div>
<!-- end navigation-menu -->
<div class="transition-overlay">
    <div class="layer"></div>
    <!-- end layer -->
</div>
<!-- end transition-overlay -->
<nav class="navbar">
    <div class="logo"> <a href="<%= root_path %>"><img src="/logo_black.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="sandwich-nav">
        <div class="sandwich-text"><b>MENU<br>
            FECHAR</b> 
        </div>
        <!-- end sandwich-text -->
        <div class="sandwich-btn" id="sandwich-btn"> <span></span> <span></span> </div>
        <!-- end sandwich-btn -->
    </div>
    <!-- end sandwich-nav -->
</nav>

<!-- end navbar -->
<header class="page-header">
    <aside class="soundbar">
        <div class="sound">
            <div class="sound-title"> SOUND </div>
            <!-- end sound-title -->
            <div class="equalizer">
                <div class="holder"> <span></span> <span></span> <span></span> <span></span><span></span><span></span> </div>
                <!-- end holder --> 
            </div>
            <!-- end equalizer -->
            <div class="sound-text"> <b>OFF<br>
                ON</b> 
            </div>
            <!-- end sound-text --> 
        </div>
        <!-- end sound --> 
    </aside>
    <!-- end soundbar -->
    <ul class="social-media">
        <li><a href="#">Facebook</a></li>
        <li><a href="#">Instagram</a></li>
        <li><a href="#">LinkdIn</a></li>
    </ul>
    <div class="inner-content">
        <div class="inner">
            <div class="container">
                <h2>CONTACT</h2>
                <h6>Slide out menu came to life right with as a popular option</h6>
            </div>
            <!-- end container -->
        </div>
        <!-- end inner --> 
    </div>
    <!-- end inner-content --> 
</header>
<!-- end page-header -->
