<!DOCTYPE html>
<html>
    <head>
        <title>.:: Grupo JK ::.</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <meta name="description" content="<%= meta_description %>">
        <meta name="keywords" content="<%= meta_keywords %>">
        <meta name="robots" content="index, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="Portuguese">

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600,700%7COpen+Sans:300,400,400italic,600,700">
        <link rel="stylesheet" id="css-main" href="/templete/assets/css/oneui.min.css">


    </head>

    <body>

        <% if user_signed_in? %>
            <div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed">
                <%= render 'layouts/partials/manager/sidbar' %>
                <%= render 'layouts/partials/manager/header' %>

                <main id="main-container">
                    <%= yield %>
                </main>
            </div>
        <% else %>
            <%= yield %>
        <% end %>

        <script src="/templete/assets/js/oneui.core.min.js"></script>
        <script src="/templete/assets/js/oneui.app.min.js"></script>

    </body>
</html>

