<!DOCTYPE html>
<html>
    <head>
        <title>.:: Grupo JK ::.</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>

        <!-- CSS FILES -->
        <link rel="stylesheet" href="/templete-site/css/font-awesome.min.css">
        <link rel="stylesheet" href="/templete-site/css/animate.min.css">
        <link rel="stylesheet" href="/templete-site/css/fancybox.min.css">
        <link rel="stylesheet" href="/templete-site/css/odometer.min.css">
        <link rel="stylesheet" href="/templete-site/css/swiper.min.css">
        <link rel="stylesheet" href="/templete-site/css/bootstrap.min.css">
        <link rel="stylesheet" href="/templete-site/css/style.css">

    </head>

    <body>

        <div class="preloader">
            <div class="inner">
                <span class="typewriter" id="typewriter"></span> 
            </div>
        </div>


        <%= yield %>


    </body>
</html>
