<!DOCTYPE html>
<html>
    <head>
        <title>.:: Grupo JK ::.</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <meta name="description" content="<%= meta_description %>">
        <meta name="keywords" content="<%= meta_keywords %>">
        <meta name="robots" content="index, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="Portuguese">
        
        <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
        <%= javascript_importmap_tags %>

        <!-- CSS FILES -->
        <link rel="stylesheet" href="/templete-site/css/font-awesome.min.css">
        <link rel="stylesheet" href="/templete-site/css/animate.min.css">
        <link rel="stylesheet" href="/templete-site/css/fancybox.min.css">
        <link rel="stylesheet" href="/templete-site/css/odometer.min.css">
        <link rel="stylesheet" href="/templete-site/css/swiper.min.css">
        <link rel="stylesheet" href="/templete-site/css/bootstrap.min.css">
        <link rel="stylesheet" href="/templete-site/css/style.css">

    </head>

    <body>

        <div class="preloader">
            <div class="inner">
                <span class="typewriter" id="typewriter"></span> 
            </div>
        </div>

        <%= yield %>

        <a class="whatsapp pulse" href="http://grupojk.caster.fm/" target="_blank">
            <%= image_tag '/images/networks/radio.png', width: '80' %>
        </a>
    </body>
</html>

<style>

    .whatsapp{
        position: fixed;
        right: 2%;
        bottom: 10%;
        z-index: 10;
    }
    .pulse { 
        transform: translate(-100, -50%); 
        width: 50px; 
        height: 50px; 
        background: #fff; 
        border: 2px solid #fff; 
        border-radius: 50%; 
        box-sizing: border-box; 
        box-shadow: 0 0 0 36px #fff, 0 0 0 40px #2c2e84; 
    } 

    .pulse:before, .pulse:after { 
        content: ''; 
        position: absolute; 
        left: -30px; 
        top: -30px; 
        right: -30px; 
        bottom: -30px; 
        border: 2px solid #2c2e84; 
        border-radius: 50%; 
        animation: animate 2s linear infinite 
    } 

    .pulse:after { 
        animation-delay: 1s; 
    } 

    @keyframes animate { 
        0% { 
            transform: scale(2.0); 
        } 

        100% { 
            transform: scale(0.7); 
        } 
    } 
        
</style>