<div id="<%= dom_id member %>">
  <p>
    <strong>Company name:</strong>
    <%= member.company_name %>
  </p>

  <p>
    <strong>Company nif:</strong>
    <%= member.company_nif %>
  </p>

  <p>
    <strong>Company address:</strong>
    <%= member.company_address %>
  </p>

  <p>
    <strong>Company cell phone:</strong>
    <%= member.company_cell_phone %>
  </p>

  <p>
    <strong>Company email:</strong>
    <%= member.company_email %>
  </p>

  <p>
    <strong>Company area:</strong>
    <%= member.company_area %>
  </p>

  <p>
    <strong>Company logo:</strong>
    <%= member.company_logo %>
  </p>

  <p>
    <strong>Pack:</strong>
    <%= member.pack_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= member.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= member.email %>
  </p>

  <p>
    <strong>Cell phone:</strong>
    <%= member.cell_phone %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= member.status %>
  </p>

</div>
