<!-- Hero -->
<div class="bg-image overflow-hidden" style="background-image: url(<%= picture_home_path %>);">
    <div class="bg-primary-dark-op">
        <div class="content content-narrow content-full">
            <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-sm-center mt-5 mb-2 text-center text-sm-left">
                <div class="flex-sm-fill">
                    <h1 class="font-w600 text-white mb-0 invisible" data-toggle="appear"><%= @member %></h1>
                    <h2 class="h4 font-w400 text-white-75 mb-0 invisible" data-toggle="appear" data-timeout="250"> <%= link_to 'Todos', all_members_path, class: 'text-white' %> </h2>
                </div>
                <div class="flex-sm-00-auto mt-3 mt-sm-0 ml-sm-3">
                    <span class="d-inline-block invisible" data-toggle="appear" data-timeout="350">
                        <%= link_to edit_member_path(@member), class: "btn btn-sm btn-kambandu" do  %>
                            <i class="fa fa-edit mr-1"></i> Atualizar
                        <% end %>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END Hero -->


<div class="content mb-3">
    <div class="block mb-3">
        <div class="block-content">
            <div class="row">
                <div class="col-md-5">
                                        <p><span class="font-w600 mb-2">Company name: </span><span class="font-size-sm"><%= @member.company_name %></span></p>
                                        <p><span class="font-w600 mb-2">Company nif: </span><span class="font-size-sm"><%= @member.company_nif %></span></p>
                                        <p><span class="font-w600 mb-2">Company address: </span><span class="font-size-sm"><%= @member.company_address %></span></p>
                                        <p><span class="font-w600 mb-2">Company cell phone: </span><span class="font-size-sm"><%= @member.company_cell_phone %></span></p>
                                        <p><span class="font-w600 mb-2">Company email: </span><span class="font-size-sm"><%= @member.company_email %></span></p>
                                        <p><span class="font-w600 mb-2">Company area: </span><span class="font-size-sm"><%= @member.company_area %></span></p>
                                        <p><span class="font-w600 mb-2">Company logo: </span><span class="font-size-sm"><%= @member.company_logo %></span></p>
                                        <p><span class="font-w600 mb-2">Pack: </span><span class="font-size-sm"><%= @member.pack %></span></p>
                                        <p><span class="font-w600 mb-2">Name: </span><span class="font-size-sm"><%= @member.name %></span></p>
                                        <p><span class="font-w600 mb-2">Email: </span><span class="font-size-sm"><%= @member.email %></span></p>
                                        <p><span class="font-w600 mb-2">Cell phone: </span><span class="font-size-sm"><%= @member.cell_phone %></span></p>
                                        <p><span class="font-w600 mb-2">Status: </span><span class="font-size-sm"><%= @member.status %></span></p>
                                    </div>
            </div>
            <br>
        </div>
    </div>
</div>
